{% extends 'index.html' %}
{% block title %}Books{% endblock %}
{% block content %}
<h1>Books</h1>
<table class="pure-table pure-table-horizontal">
    <thead>
        {% for attr in entity %}
        <th>{{ attr }}</th>
        {% endfor %}
    </thead>
    <tbody>
        {% for row in result[0] %}
        <tr>
            {% for data in row %}
            <td>{{ row[data] }}</td>
            {% endfor %}
            <td>
                {% for seen in result[1] %}
                {% if seen['id'] == row['id'] %}
                {{ seen['name'] }};
                {% endif %}
                {% endfor %}
            </td>
            <td>
                <form class="pure-form">
                    <a href="/update?table=Books&id={{ row['id'] }}">E</a>
                    <a href="/delete?table=Books&id={{ row['id'] }}">X</a>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<form class="pure-form" method="post">
    <input type="text" name="title" placeholder="title">
    <input type="text" name="genre" placeholder="genre">
    <input type="text" name="author" placeholder="author">
    <input type="text" name="pages" placeholder="pages">
    <input type="text" name="metacritic" placeholder="metacritic">
    <input class="pure-button pure-button-primary" type="submit" value="Add Entry">
</form>
<h1>Read Something New?</h1>
<form class="pure-form" method="post">
    <select name="people_id">
        <option disabled selected>People</option>
        {% for row in result[2] %}
        <option value="{{ row['id'] }}">{{ row['name'] }}</option>
        {% endfor %}
    </select>
    <select name="books_id">
        <option disabled selected>Books</option>
        {% for row in result[0] %}
        <option value="{{ row['id'] }}">{{ row['title'] }}</option>
        {% endfor %}
    </select>
    <input class="pure-button pure-button-primary" type="submit" value="Add Read Book">
</form>
{% endblock %}
