<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
        <title>{% block title %}Home{% endblock %} | Seen-it?</title>
    </head>
    <body>
        <header class="pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a class="pure-menu-link" href="/">Home</a></li>
                <li class="pure-menu-item"><a class="pure-menu-link" href="/movies">Movies</a></li>
                <li class="pure-menu-item"><a class="pure-menu-link" href="/shows">Shows</a></li>
                <li class="pure-menu-item"><a class="pure-menu-link" href="/books">Books</a></li>
                <li class="pure-menu-item"><a class="pure-menu-link" href="/videogames">Video Games</a></li>
            </ul>
        </header>
        <main>
            <h1>People</h1>
            <table class="pure-table pure-table-horizontal">
                <thead>
                    {% for attr in entity %}
                    <th>{{ attr }}</th>
                    {% endfor %}
                </thead>

                <tbody>
                    {% for row in result[0] %}
                    <tr>
                        {% for data in row %}
                        <td>{{ row[data] }}</td>
                        {% endfor %}
                        {% for i in range(1, 5) %}
                        <td>
                            {% for seen in result[i] %}
                            {% if seen['id'] == row['id'] %}
                            {{ seen['title'] }};
                            {% endif %}
                            {% endfor %}
                        </td>
                        {% endfor %}
                        <td>
                            <form class="pure-form" method="post">
                                <input type="button" name="edit" value="E">
                                <input type="button" name="delete" value="X">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <form class="pure-form" method="post">
                <input type="text" name="name" placeholder="name">
                <input type="text" name="age" placeholder="age">
                <input type="text" name="favMovie" placeholder="favMovie">
                <input type="text" name="favShow" placeholder="favShow">
                <input type="text" name="favGame" placeholder="favGame">
                <input type="text" name="favBook" placeholder="favBook">
                <input class="pure-button pure-button-primary" type="submit" value="Add Entry">
            </form>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
