<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
        <title>{% block title %}Home{% endblock %} | Seen-it?</title>
    </head>
    <body>
        <header class="pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a class="pure-menu-link" href="/">Home</a></li>
                <li class="pure-menu-item"><a class="pure-menu-link" href="/movies">Movies</a></li>
                <li class="pure-menu-item"><a class="pure-menu-link" href="/shows">Shows</a></li>
                <li class="pure-menu-item"><a class="pure-menu-link" href="/books">Books</a></li>
                <li class="pure-menu-item"><a class="pure-menu-link" href="/videogames">Video Games</a></li>
            </ul>
        </header>
        <main>
            {% block content %}
            <h1>People</h1>
            <form class="pure-form" method="post">
                <input type="text" name="search" placeholder="Check what people have viewed by title!" size="50">
                <input class="pure-button pure-button-primary" type="submit" value="Search">
            </form>
            <br>
            <table class="pure-table pure-table-horizontal">
                <thead>
                    {% for attr in entity %}
                    <th>{{ attr }}</th>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for row in result[0] %}
                    <tr>
                        {% for data in row %}
                        <td>{{ row[data] }}</td>
                        {% endfor %}
                        {% for i in range(1, 5) %}
                        <td>
                            {% for seen in result[i] %}
                            {% if seen['id'] == row['id'] %}
                            {{ seen['title'] }};
                            {% endif %}
                            {% endfor %}
                        </td>
                        {% endfor %}
                        <td>
                            <form class="pure-form">
                                <a href="/update?table=People&id={{ row['id'] }}">E</a>
                                <a href="/delete?table=People&id={{ row['id'] }}">X</a>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <form class="pure-form" method="post">
                <input type="text" name="name" placeholder="name">
                <input type="text" name="age" placeholder="age">
                <select name="favMovie">
                    <option disabled selected>favMovie</option>
                    <option value="NULL">None</option>
                    {% for row in result[5] %}
                    <option value="{{ row['id'] }}">{{ row['title'] }}</option>
                    {% endfor %}
                </select>
                <select name="favShow">
                    <option disabled selected>favShow</option>
                    <option value="NULL">None</option>
                    {% for row in result[6] %}
                    <option value="{{ row['id'] }}">{{ row['title'] }}</option>
                    {% endfor %}
                </select>
                <select name="favBook">
                    <option disabled selected>favBook</option>
                    <option value="NULL">None</option>
                    {% for row in result[7] %}
                    <option value="{{ row['id'] }}">{{ row['title'] }}</option>
                    {% endfor %}
                </select>
                <select name="favGame">
                    <option disabled selected>favGame</option>
                    <option value="NULL">None</option>
                    {% for row in result[8] %}
                    <option value="{{ row['id'] }}">{{ row['title'] }}</option>
                    {% endfor %}
                </select>
                <input class="pure-button pure-button-primary" type="submit" value="Add Entry">
            </form>
            {% endblock %}
        </main>
    </body>
</html>
