<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
        <title>{% block title %}Home{% endblock %} | Seen-it?</title>
    </head>
    <body>
        <header class="pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a class="pure-menu-link" href="/">Home</a></li>
                <li class="pure-menu-item"><a class="pure-menu-link" href="/movies">Movies (view or modify the list of Movies)</a></li>
                <li class="pure-menu-item"><a class="pure-menu-link" href="/shows">Shows (view or modify the list of TV Shows)</a></li>
                <li class="pure-menu-item"><a class="pure-menu-link" href="/books">Books (view or modify the list of Books)</a></li>
                <li class="pure-menu-item"><a class="pure-menu-link" href="/videogames">Video Games (view or modify the list of Video Games)</a></li>
            </ul>
        </header>
        <main>
            <h1>People</h1>
            <table class="pure-table pure-table-horizontal">
                <thead>
                    <th>id</th>
                    <th>name</th>
                    <th>age</th>
                    <th>favMovie</th>
                    <th>favShow</th>
                    <th>favBook</th>
                    <th>favGame</th>
                    <th>seenMovies</th>
                    <th>seenShows</th>
                    <th>readBooks</th>
                    <th>playedGames</th>
                </thead>

                <tbody>
                    <tr>
                        <td>0</td>
                        <td>Nicholas Broce</td>
                        <td>22</td>
                        <td>Knives Out</td>
                        <td>Star Wars The Clone Wars</td>
                        <td>Harry Potter and The Half Blood Prince</td>
                        <td>Bioshock Infinte</td>
                        <td>Knives Out, Star Wars A New Hope, Dune(2021), Lord of the Rings</td>
                        <td>Star Wars The Clone Wars, You, Dexter, Lucifer</td>
                        <td>Harry Potter and The Half Blood Prince, Lord of the Rings: Fellowship of the Ring, Dune</td>
                        <td>Bioshock, Bioshock Infinite, Lego Star Wars, Dishonored</td>
                        <td>
                            <form class="pure-form" method="post">
                                <input type="button" name="edit" value="E">
                                <input type="button" name="delete" value="X">
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Jason Scott-Hakanson</td>
                        <td>21</td>
                        <td>Dune(2021)</td>
                        <td>Warehouse 13</td>
                        <td>The Name of the Wind</td>
                        <td>Dishonored</td>
                        <td>Knives Out, Star Wars A New Hope, Dune(2021), Lord of the Rings</td>
                        <td>Warehouse 13</td>
                        <td>Harry Potter and The Half Blood Prince, Lord of the Rings: Fellowship of the Ring, Dune</td>
                        <td>Bioshock, Bioshock Infinite, Lego Star Wars, Dishonored</td>
                        <td>
                            <form class="pure-form" method="post">
                                <input type="button" name="edit" value="E">
                                <input type="button" name="delete" value="X">
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
            <form class="pure-form" method="post">
                <td></td>
                <td><input type="text" name="name" placeholder="name"></td>
                <td><input type="text" name="age" placeholder="age"></td>
                <td><input type="text" name="favMovie" placeholder="favMovie"></td>
                <td><input type="text" name="favShow" placeholder="favShow"></td>
                <td><input type="text" name="favGame" placeholder="favGame"></td>
                <td><input type="text" name="favBook" placeholder="favBook"></td>
                <td><input class="pure-button pure-button-primary" type="submit" value="Add Entry"></td>
            </form>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
