{% extends 'index.html' %}
{% block title %}Movies{% endblock %}
{% block content %}
<h1>Movies</h1>
<table>
    <thead>
        <th>id</th>
        <th>title</th>
        <th>genre</th>
        <th>director</th>
        <th>runTimeMins</th>
        <th>metacritic</th>
        <th>PeopleSeen</th>
    </thead>

    <tbody>
        <tr>
            <td>0</td>
            <td>Knives Out</td>
            <td>Mystery</td>
            <td>Rian Johnson</td>
            <td>130</td>
            <td>82</td>
            <td>Nicholas Broce, Jason Scott-Hakanson</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Dune(2021)</td>
            <td>Science Fiction</td>
            <td>Denis Villeneuve</td>
            <td>156</td>
            <td>74</td>
            <td>Nicholas Broce, Jason Scott-Hakanson</td>
        </tr>
    </tbody>
</table>
{% endblock %}
