{% extends 'index.html' %}
{% block title %}Movies{% endblock %}
{% block content %}
<h1>Movies</h1>
<table>
    <thead>
        <th>id</th>
        <th>title</th>
        <th>genre</th>
        <th>director</th>
        <th>runTimeMins</th>
        <th>metacritic</th>
        <th>PeopleSeen</th>
    </thead>

    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
{% endblock %}
