{% extends 'index.html' %}
{% block title %}Movies{% endblock %}
{% block content %}
<h1>Movies</h1>
<form class="pure-form" method="post">
    <td></td>
    <td><input type="text" name="Search" placeholder="Person Name Search"></td>
    <td><input class="pure-button pure-button-primary" type="submit" value="Search"></td>
</form>
<table class="pure-table pure-table-horizontal">
    <thead>
        {% for attr in entity %}
        <th>{{ attr }}</th>
        {% endfor %}
    </thead>
    <tbody>
        {% for row in result[0] %}
        <tr>
            {% for data in row %}
            <td>{{ row[data] }}</td>
            {% endfor %}
            <td>
                {% for seen in result[1] %}
                {% if seen['id'] == row['id'] %}
                {{ seen['name'] }};
                {% endif %}
                {% endfor %}
            </td>
            <td>
                <form class="pure-form" method="post">
                    <input type="button" name="edit" value="E">
                    <input type="button" name="delete" value="X">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<form class="pure-form" method="post">
    <input type="text" name="title" placeholder="title">
    <input type="text" name="genre" placeholder="genre">
    <input type="text" name="director" placeholder="director">
    <input type="text" name="runTimeMins" placeholder="runTimeMins">
    <input type="text" name="metacritic" placeholder="metacritic">
    <input class="pure-button pure-button-primary" type="submit" value="Add Entry">
</form>
<h1>Seen Something New?</h1>
<form class="pure-form" method="post">
    <input type="text" name="people_id" placeholder="people_id">
    <input type="text" name="movies_id" placeholder="movies_id">
    <input class="pure-button pure-button-primary" type="submit" value="Add Seen Movie">
</form>
{% endblock %}
