{% extends 'index.html' %}
{% block title %}Shows{% endblock %}
{% block content %}
<h1>TV Shows</h1>
<table>
    <thead>
        <th>id</th>
        <th>title</th>
        <th>genre</th>
        <th>network</th>
        <th>episodes</th>
        <th>seasons</th>
        <th>metacritic</th>
        <th>PeopleSeen</th>
    </thead>

    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
{% endblock %}
