{% extends 'index.html' %}
{% block title %}Shows{% endblock %}
{% block content %}
<h1>TV Shows</h1>
<table>
    <thead>
        <th>id</th>
        <th>title</th>
        <th>genre</th>
        <th>network</th>
        <th>episodes</th>
        <th>seasons</th>
        <th>metacritic</th>
        <th>PeopleSeen</th>
    </thead>

    <tbody>
        <tr>
            <td>0</td>
            <td>Star Wars: The Clone Wars</td>
            <td>Animation, Action & Adventure, Fantasy, Science Fiction, Kids</td>
            <td>Cartoon Network</td>
            <td>133</td>
            <td>7</td>
            <td>66</td>
            <td>Nicholas Broce</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Warehouse 13</td>
            <td>Comedy, Drama, Action & Adventure, Fantasy, Science Fiction</td>
            <td>SyFy</td>
            <td>133</td>
            <td>10</td>
            <td>65</td>
            <td>Jason Scott-Hakanson</td>
        </tr>
    </tbody>
</table>
{% endblock %}
