{% extends 'index.html' %}
{% block title %}Video Games{% endblock %}
{% block content %}
<h1>Video Games</h1>
<table class="pure-table pure-table-horizontal">
    <thead>
        <th>id</th>
        <th>title</th>
        <th>genre</th>
        <th>studio</th>
        <th>playTimHrs</th>
        <th>metacritic</th>
        <th>PeoplePlayed</th>
    </thead>

    <tbody>
        <tr>
            <td>0</td>
            <td>Bioshock Infinite</td>
            <td>Action, Shooter, First-Person, Sci-Fi</td>
            <td>Irrational Games</td>
            <td>11.5</td>
            <td>94</td>
            <td>Nicholas Broce, Jason Scott-Hakanson</td>
            <td>
                <form class="pure-form" method="post">
                    <input type="button" name="edit" value="E">
                    <input type="button" name="delete" value="X">
                </form>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>Dishonored</td>
            <td>Action Adventure, Stealth, First-Person</td>
            <td>Arkane Studios</td>
            <td>12</td>
            <td>91</td>
            <td>Nicholas Broce, Jason Scott-Hakanson</td>
            <td>
                <form class="pure-form" method="post">
                    <input type="button" name="edit" value="E">
                    <input type="button" name="delete" value="X">
                </form>
            </td>
        </tr>
    </tbody>
</table>
<form class="pure-form" method="post">
                <input type="text" name="title" placeholder="title">
                <input type="text" name="genre" placeholder="genre">
                <input type="text" name="studio" placeholder="studio">
                <input type="text" name="PlayTimHrs" placeholder="PlayTimHrs">
                <input type="text" name="metacritic" placeholder="metacritic">
                <input class="pure-button pure-button-primary" type="submit" value="Add Entry">
            </form>
{% endblock %}
